
<br/>



<div class="span6 offset3 smurfy" align='center'>


<h1 class="custom-h1 custom-h2">
	Buy, Select, Enjoy!
</h1>
<br/>


<h2 class="custom-h3">
	Refining your Experiences
</h2>	

<%= link_to 'Explore', '#', :class=>'btn btn-info' %>		




</div>