
<br/>



<div class="span6 offset3 smurfy" align='center'>


<h1 class="custom-h1 custom-h2">
	Buy, Select, Enjoy
</h1>
<br/>


<h2 class="custom-h3">
	Refining your Experiences
</h2>	

<%= link_to 'Explore', 'http://refine-app.herokuapp.com/pics', :class=>'btn btn-info' %>		




</div>

<div class="span4 offset4 smurfy" align='center'>



<br/>

<h1 class="custom-h1 custom-h4">
	Gifting
</h1>
<%= link_to 'Explore', '#', :class=>'btn btn-info' %>	
<br/>


<h2 class="custom-h4">
	Using your Refine Box
</h2>	

<%= link_to 'Explore', '#', :class=>'btn btn-info' %>		




</div>