<% @pics.each do |pic| %>


<div class="span2 offset1 smurfy custom-h5" align=center>
	<h1 class="custom-h2">
	<%= pic.title %>
	<br/>
	<h1 class="custom-h3">
		<%= pic.subtitle %>
	
	<h1 class="custom-h5">
		<%= pic.message %>

</div>

<% end %>