@import url(http://fonts.googleapis.com/css?family=Allan);
@import url(http://fonts.googleapis.com/css?family=Gabriela);

.smurfy 
{
	box-shadow: 2px -2px 2px 2px rgba(36,32,33,0.50);
	background-color: rgba(9,2,3,0.10);
	padding: 2%;
	color: white;
}

body
{

  background: url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-h1 
{
	color:  white;
}
h2
{
	color:  white;
}
.custom-h2 {
font-family: 'Allan', Helvetica Neue, Helvetica, sans-serif;
font-weight: 200;
font-size: 64px;
line-height: 64px
}
.custom-h3 {
font-family: 'Allan', Helvetica Neue, Helvetica, sans-serif;
font-weight: 200;
font-size: 32px;
line-height: 32px
}
.custom-h4 {
font-family: 'Gabriela', Helvetica Neue, Helvetica, sans-serif;
font-weight: 100;
font-size: 44px;
line-height: 44px
}
.custom-h5 {
font-family: 'Gabriela', Helvetica Neue, Helvetica, sans-serif;
font-weight: 200;
font-size: 12px;
line-height: 22px
}
